.click-me{
    background-color:aqua;
    color: red;
    border-radius: 5px;
    border-width: 3px;
    height:max-content;
    width: max-content;
    font-size: 36px;
    cursor:pointer;
    padding: 12px;
    box-shadow: 0px 0px 5px 5px red;
}

.click-me-too{
    background-color:aqua;
    color: red;
    border-radius: 5px;
    border-width: 3px;
    height:max-content;
    width: max-content;
    font-size: 36px;
    cursor:pointer;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.click-me:hover{
    color: green;
}
.click-me:active{
    background-color: chocolate;
    padding: 50px;
}