p{
    text-decoration: underline;
    text-decoration-line: overline;
}
.hehe{
    text-transform: capitalize;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    font-family: "Bytesized", "Comic Sans MS", cursive, sans-serif;
}