h1{
    text-align: center;
}

.app{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.first{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}

.task{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: black solid;
    font-size: 20px;
}

.date{
    border-radius: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: black solid;
}

.add{
    width: 85px;
    padding: 10px;
    font-size: 20px;
    background-color: green;
    border-radius: 25%;
    border-width: 4px;

}

.delete{
    width: 85px;
    padding: 10px;
    font-size: 20px;
    background-color: red;
    border-radius: 25%;
    border-width: 4px;
}

.container{
    font-size: 20px;
    display: grid;
    grid-template-columns: 257px 120px 100px;
    gap: 15px;
    width: 487.725px;
    align-items: center;
}
